/*Global Styles*/ 
  body { 
    
background-color: #fff;

    }

    main{
      padding: 20px;
      border-top-left-radius: 20px;;
    }
    p{
      margin: 9%;
      font-size: 130%;
    }

    /*Desktop styles*/

    a{ 
      color:#A64B37;
      text-align: center;
      display: block;
      text-decoration: none;
      font-size: x-large;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 740;
      background-color: #0A1626;
      padding: 10px 5px;
    }
    a:hover{
      color:#687B9E;
      font-style: italic;


    }
    
    


header {
  font-size: 190px;
  font-weight: 140px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #0A1626;
  font-style: bold;
  background-color: #687B9E;
  padding-bottom: 25px;
}

h3{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color:#A64B37;
}


 h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  color: #fff;
}

h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  font-style: oblique;
  font-size: 230px;
  color:#0A1626;
}
h6{
  color: #2E4159;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #A64B37

}

hr {
  width: 130px;
}

  

  img { 
    display:block;
    margin: 9% auto;

  }


  /*classes and stuff*/


  #container{
    background-color: #2E4159;
     width: 80%;
    margin: 40px auto;
   
}

/* .lower{
  display: flex;
} */

.button{
  padding: 10px 10px;
  border: solid #0A1626;
 color: #0A1626;
 background-color: #A64B37;
 text-decoration: none;
 font-family: Arial, Helvetica, sans-serif;
 font-style: bold;
 margin: 2px 2px;
 border-radius: 10px;
 text-align: center;


}

.big_button {
  padding: 20px 20px;
 background-color: #0A1626;
  border-radius: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #A64B37;
  text-decoration: none;
  font-size: xx-large;
  align-self: center; 
  text-emphasis: none;
  text-align: center;

}

.big_button:hover{
  color:#687B9E;
  font-style: italic;
}

.links{
  display: inline-block;
  list-style-type: none;
  list-style: none;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color:#0A1626;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  list-style-type: none;
  padding: 0;
  }

  ul{
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    padding-left: 2%;
    padding-right: 2%;
  }
  ul li{
    color: #fff;
  }

main img{
  width:1000px;
  
}

.links:hover{
  color:#A64B37;
 
}





.welcome{
  h1{
text-align: center;
font-size: 120px;
  }
  background-color: #2E4159;
  display: block;
  .button{
    text-align: right;
  }

}

.caption{
  text-indent: 2in;
  display: block;
  padding: 9px;

}

/*navigation*/

nav{
  background-color:#0A1626;
  padding:30px 20px;
  margin: 20px 20px;
  text-align: center;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  width: 110% 100%;
  


}

nav ul{
  list-style-type: none;
  padding: 0;

}

nav li{
  display: inline-block;

}

nav li a{

  color: #687B9E;
  text-decoration: none;
  margin-right: 50px;
  margin-left: 50px;
  

}

nav li a:hover{
  font-style: italic;
  color:#A64B37;

}


/*animation*/

.blink {
  animation: blinker 1s step-start infinite;
}



@keyframes blinker {
  50% {
    opacity: 0;
  }
}